* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header a {
  color: white;
  text-decoration: none;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 400px;
}

header img {
  width: 150px;
  margin: 20px 0;
}

header img:hover {
  transition: 0.1s;
  transform: scale(0.95);
}

header p {
  color: white;
}

#menu {
  display: flex;
}

#menu p {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}

#menu p:hover {
  background-color: rgb(32, 32, 32);
  cursor: pointer;
}

#register {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#register:hover {
  transition: 0.1s;
  /* background-color: rgb(42, 42, 42); */
  border: 1px solid white;
}

/* Content */

#content {
  margin: 50px 400px;
}

#content img {
  width: 300px;
}

#content1,
#content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#content h3 {
  margin-bottom: 20px;
}

.banner {
  display: flex;
}

.banner div {
  margin: 0 10px;
}

#content2 p {
  position: absolute;
  color: white;
  text-align: center;
  width: 300px;
  padding: 10px 0;
  font-weight: bolder;
  background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

/* Footer */

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

footer p {
  color: white;
  padding: 20px 0;
}

#social-media img {
  width: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

#social-media img:hover {
  border: 1px dotted white;
}

/* Register Page */

form {
  background-image: url(assets/bg-hover-1.svg);
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 300px;
  border-radius: 30px;
  transition: 0.2s;
}

form:hover {
  transition: 0.2s;
  background-image: url(assets/bg-hover-2.svg);
}

form label {
  color: white;
}

form .rad {
  padding: 0 10px;
}

form div input[type="date"] {
  display: flex;
  padding: 10px;
  border-radius: 10px;
}

form div input[type="text"] {
  display: flex;
  padding: 4px 0;
  border-radius: 8px;
  flex-direction: column;
  width: 100%;
  border: none;
}

form div {
  margin: 7px 0;
}

form input[type="submit"] {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.534);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

#button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
